<div class="main-banner-four">
    <div class="d-table">
        <div class="d-table-cell">
            <div class="container-fluid">
                <div class="row align-items-center">
                    <div class="col-lg-6 col-md-12">
                        <div class="main-banner-content">
                            <h2 style="font-size: 40px;">Optimisez votre production agricole grace a <span style="color: white; text-transform: capitalize;">L'intelligence artificielle</span></h2>
                            <h4 style="color: blanchedalmond;">Nous developpons des plans efficaces pour aider les petites et moyennes entreprises a tirer profit de l'intelligence artificielle.</h4>
                            <div class="banner-btn">
                                <a routerLink="/contact" class="default-btn-one">Nous Contacter <span></span></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-12">
                        <div class="banner-image">
                            <img src="assets/img/home-four/main-image.png" alt="image">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="creative-shape"><img src="assets/img/main-banner-shape/home-shape-4.png" alt="main-image"></div>

    <div class="lines">
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
    </div>
</div>

<section class="services-section pt-100 pb-70">
    <div class="container">
        <div class="section-title">
            <span>EwaData</span>
            <h3>Expolrez Nos Differents Services</h3>
        </div>
        <div class="row">
            <div class="col-lg-6 col-md-6">
                <div class="single-services-box">
                    <div class="icon">
                        <i class="flaticon-big-data"></i>
                    </div>
                    <h3>Photogrammetrie</h3>
                    <p>Chargement des images brutes ou mosaique</p>
                    <div class="services-btn">
                        <a routerLink="/services-details" class="services-btn-one">Read More <i class="flaticon-right"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="single-services-box">
                    <div class="icon">
                        <i class="flaticon-data-analytics"></i>
                    </div>
                    <h3>Identification</h3>
                    <p>Identifier des Anarcadiers des autres especes d'arbre</p>
                    <div class="services-btn">
                        <a routerLink="/services-details" class="services-btn-one">Read More <i class="flaticon-right"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="single-services-box">
                    <div class="icon">
                        <i class="flaticon-document"></i>
                    </div>
                    <h3>Prediction</h3>
                    <p>Nous utilisons les donnees pour developper les modeles aidant a la prise de decisions</p>
                    <div class="services-btn">
                        <a routerLink="/services-details" class="services-btn-one">Read More <i class="flaticon-right"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="single-services-box">
                    <div class="icon">
                        <i class="flaticon-chart"></i>
                    </div>
                    <h3>Comptage</h3>
                    <p>Nous faisons des previsions de vos rendement pour une meilleur productivite</p>
                    <div class="services-btn">
                        <a routerLink="/services-details" class="services-btn-one">Read More <i class="flaticon-right"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>